<ROUGE_EVAL version="1.55">
    <EVAL ID="TASK_1">
        <MODEL-ROOT> systems/ </MODEL-ROOT>
        <PEER-ROOT> models/ </PEER-ROOT>
        <INPUT-FORMAT TYPE="SEE"> </INPUT-FORMAT>

        <PEERS>
            <P ID="1">1.html</P>
            <P ID="2">2.html</P>
        </PEERS>

        <MODELS>
            <P ID="1">1.html</P>
            <P ID="2">2.html</P>
        </MODELS>
    </EVAL>
</ROUGE_EVAL>
