<ROUGE_EVAL version="1.5.5">
<EVAL ID="D1035-A.M.100.G">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="D1TNXLRYTC">D1035-A.M.100.G.D1TNXLRYTC</P>
</PEERS>
<MODELS>
<M ID="G">D1035-A.M.100.G.G</M>
</MODELS>
</EVAL>
<EVAL ID="D1005-A.M.100.A">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="CVXCR5AQVG">D1005-A.M.100.A.CVXCR5AQVG</P>
</PEERS>
<MODELS>
<M ID="A">D1005-A.M.100.A.A</M>
</MODELS>
</EVAL>
<EVAL ID="D1024-A.M.100.E">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="450MBAT5WR">D1024-A.M.100.E.450MBAT5WR</P>
</PEERS>
<MODELS>
<M ID="E">D1024-A.M.100.E.E</M>
</MODELS>
</EVAL>
<EVAL ID="D1006-A.M.100.A">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="270H8X6YY0">D1006-A.M.100.A.270H8X6YY0</P>
</PEERS>
<MODELS>
<M ID="A">D1006-A.M.100.A.A</M>
</MODELS>
</EVAL>
<EVAL ID="D1008-A.M.100.B">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="D7H4Z5YYQT">D1008-A.M.100.B.D7H4Z5YYQT</P>
</PEERS>
<MODELS>
<M ID="B">D1008-A.M.100.B.B</M>
</MODELS>
</EVAL>
<EVAL ID="D1010-A.M.100.B">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="YPBW1QXCB8">D1010-A.M.100.B.YPBW1QXCB8</P>
</PEERS>
<MODELS>
<M ID="B">D1010-A.M.100.B.B</M>
</MODELS>
</EVAL>
<EVAL ID="D1033-A.M.100.F">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="3P0DN6B36L">D1033-A.M.100.F.3P0DN6B36L</P>
</PEERS>
<MODELS>
<M ID="F">D1033-A.M.100.F.F</M>
</MODELS>
</EVAL>
<EVAL ID="D1027-A.M.100.E">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="NHW6PPCIKT">D1027-A.M.100.E.NHW6PPCIKT</P>
</PEERS>
<MODELS>
<M ID="E">D1027-A.M.100.E.E</M>
</MODELS>
</EVAL>
<EVAL ID="D1004-A.M.100.A">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="GVW146MR87">D1004-A.M.100.A.GVW146MR87</P>
</PEERS>
<MODELS>
<M ID="A">D1004-A.M.100.A.A</M>
</MODELS>
</EVAL>
<EVAL ID="D1013-A.M.100.C">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="YKL597JXKZ">D1013-A.M.100.C.YKL597JXKZ</P>
</PEERS>
<MODELS>
<M ID="C">D1013-A.M.100.C.C</M>
</MODELS>
</EVAL>
<EVAL ID="D1038-A.M.100.G">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="8Q2IHHXQOL">D1038-A.M.100.G.8Q2IHHXQOL</P>
</PEERS>
<MODELS>
<M ID="G">D1038-A.M.100.G.G</M>
</MODELS>
</EVAL>
<EVAL ID="D1012-A.M.100.C">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="SYAT69UJAN">D1012-A.M.100.C.SYAT69UJAN</P>
</PEERS>
<MODELS>
<M ID="C">D1012-A.M.100.C.C</M>
</MODELS>
</EVAL>
<EVAL ID="D1046-A.M.100.H">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="2WP316JBAO">D1046-A.M.100.H.2WP316JBAO</P>
</PEERS>
<MODELS>
<M ID="H">D1046-A.M.100.H.H</M>
</MODELS>
</EVAL>
<EVAL ID="D1040-A.M.100.G">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="SPMDQYY201">D1040-A.M.100.G.SPMDQYY201</P>
</PEERS>
<MODELS>
<M ID="G">D1040-A.M.100.G.G</M>
</MODELS>
</EVAL>
<EVAL ID="D1039-A.M.100.G">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="YUY2LTRC68">D1039-A.M.100.G.YUY2LTRC68</P>
</PEERS>
<MODELS>
<M ID="G">D1039-A.M.100.G.G</M>
</MODELS>
</EVAL>
<EVAL ID="D1001-A.M.100.A">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="FWDBF10PYX">D1001-A.M.100.A.FWDBF10PYX</P>
</PEERS>
<MODELS>
<M ID="A">D1001-A.M.100.A.A</M>
</MODELS>
</EVAL>
<EVAL ID="D1037-A.M.100.G">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="3PPIT5UBHZ">D1037-A.M.100.G.3PPIT5UBHZ</P>
</PEERS>
<MODELS>
<M ID="G">D1037-A.M.100.G.G</M>
</MODELS>
</EVAL>
<EVAL ID="D1029-A.M.100.F">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="HD08XI8YAS">D1029-A.M.100.F.HD08XI8YAS</P>
</PEERS>
<MODELS>
<M ID="F">D1029-A.M.100.F.F</M>
</MODELS>
</EVAL>
<EVAL ID="D1018-A.M.100.D">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="2PB6XX2MVB">D1018-A.M.100.D.2PB6XX2MVB</P>
</PEERS>
<MODELS>
<M ID="D">D1018-A.M.100.D.D</M>
</MODELS>
</EVAL>
<EVAL ID="D1002-A.M.100.A">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="IWT4PQK6PQ">D1002-A.M.100.A.IWT4PQK6PQ</P>
</PEERS>
<MODELS>
<M ID="A">D1002-A.M.100.A.A</M>
</MODELS>
</EVAL>
<EVAL ID="D1016-A.M.100.C">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="9Y1MM18CB5">D1016-A.M.100.C.9Y1MM18CB5</P>
</PEERS>
<MODELS>
<M ID="C">D1016-A.M.100.C.C</M>
</MODELS>
</EVAL>
<EVAL ID="D1003-A.M.100.A">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="AABXRNG8CM">D1003-A.M.100.A.AABXRNG8CM</P>
</PEERS>
<MODELS>
<M ID="A">D1003-A.M.100.A.A</M>
</MODELS>
</EVAL>
<EVAL ID="D1042-A.M.100.H">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="4ONIYK5BSR">D1042-A.M.100.H.4ONIYK5BSR</P>
</PEERS>
<MODELS>
<M ID="H">D1042-A.M.100.H.H</M>
</MODELS>
</EVAL>
<EVAL ID="D1031-A.M.100.F">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="JF8E9RBG5B">D1031-A.M.100.F.JF8E9RBG5B</P>
</PEERS>
<MODELS>
<M ID="F">D1031-A.M.100.F.F</M>
</MODELS>
</EVAL>
<EVAL ID="D1017-A.M.100.D">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="0FJXJNAWTW">D1017-A.M.100.D.0FJXJNAWTW</P>
</PEERS>
<MODELS>
<M ID="D">D1017-A.M.100.D.D</M>
</MODELS>
</EVAL>
<EVAL ID="D1025-A.M.100.E">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="L73VG123WD">D1025-A.M.100.E.L73VG123WD</P>
</PEERS>
<MODELS>
<M ID="E">D1025-A.M.100.E.E</M>
</MODELS>
</EVAL>
<EVAL ID="D1011-A.M.100.C">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="CS0K46PPZK">D1011-A.M.100.C.CS0K46PPZK</P>
</PEERS>
<MODELS>
<M ID="C">D1011-A.M.100.C.C</M>
</MODELS>
</EVAL>
<EVAL ID="D1044-A.M.100.H">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="0RDZH5ASN3">D1044-A.M.100.H.0RDZH5ASN3</P>
</PEERS>
<MODELS>
<M ID="H">D1044-A.M.100.H.H</M>
</MODELS>
</EVAL>
<EVAL ID="D1032-A.M.100.F">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="R2FYH9K9B1">D1032-A.M.100.F.R2FYH9K9B1</P>
</PEERS>
<MODELS>
<M ID="F">D1032-A.M.100.F.F</M>
</MODELS>
</EVAL>
<EVAL ID="D1041-A.M.100.H">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="NJWRXABA32">D1041-A.M.100.H.NJWRXABA32</P>
</PEERS>
<MODELS>
<M ID="H">D1041-A.M.100.H.H</M>
</MODELS>
</EVAL>
<EVAL ID="D1030-A.M.100.F">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="1NUZAGQP12">D1030-A.M.100.F.1NUZAGQP12</P>
</PEERS>
<MODELS>
<M ID="F">D1030-A.M.100.F.F</M>
</MODELS>
</EVAL>
<EVAL ID="D1036-A.M.100.G">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="OI0EON8K10">D1036-A.M.100.G.OI0EON8K10</P>
</PEERS>
<MODELS>
<M ID="G">D1036-A.M.100.G.G</M>
</MODELS>
</EVAL>
<EVAL ID="D1019-A.M.100.D">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="5IKIUUUPKC">D1019-A.M.100.D.5IKIUUUPKC</P>
</PEERS>
<MODELS>
<M ID="D">D1019-A.M.100.D.D</M>
</MODELS>
</EVAL>
<EVAL ID="D1043-A.M.100.H">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="SVC560I2HS">D1043-A.M.100.H.SVC560I2HS</P>
</PEERS>
<MODELS>
<M ID="H">D1043-A.M.100.H.H</M>
</MODELS>
</EVAL>
<EVAL ID="D1007-A.M.100.B">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="08B6D95UEL">D1007-A.M.100.B.08B6D95UEL</P>
</PEERS>
<MODELS>
<M ID="B">D1007-A.M.100.B.B</M>
</MODELS>
</EVAL>
<EVAL ID="D1014-A.M.100.C">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="GB1XK6WD80">D1014-A.M.100.C.GB1XK6WD80</P>
</PEERS>
<MODELS>
<M ID="C">D1014-A.M.100.C.C</M>
</MODELS>
</EVAL>
<EVAL ID="D1028-A.M.100.E">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="V9KQZ5UNF9">D1028-A.M.100.E.V9KQZ5UNF9</P>
</PEERS>
<MODELS>
<M ID="E">D1028-A.M.100.E.E</M>
</MODELS>
</EVAL>
<EVAL ID="D1021-A.M.100.D">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="YXPICSEE4O">D1021-A.M.100.D.YXPICSEE4O</P>
</PEERS>
<MODELS>
<M ID="D">D1021-A.M.100.D.D</M>
</MODELS>
</EVAL>
<EVAL ID="D1015-A.M.100.C">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="DAVO44IPTF">D1015-A.M.100.C.DAVO44IPTF</P>
</PEERS>
<MODELS>
<M ID="C">D1015-A.M.100.C.C</M>
</MODELS>
</EVAL>
<EVAL ID="D1023-A.M.100.E">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="YCYEO2TDCX">D1023-A.M.100.E.YCYEO2TDCX</P>
</PEERS>
<MODELS>
<M ID="E">D1023-A.M.100.E.E</M>
</MODELS>
</EVAL>
<EVAL ID="D1022-A.M.100.D">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="3DDXVIWN1N">D1022-A.M.100.D.3DDXVIWN1N</P>
</PEERS>
<MODELS>
<M ID="D">D1022-A.M.100.D.D</M>
</MODELS>
</EVAL>
<EVAL ID="D1020-A.M.100.D">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="69X92SYBZK">D1020-A.M.100.D.69X92SYBZK</P>
</PEERS>
<MODELS>
<M ID="D">D1020-A.M.100.D.D</M>
</MODELS>
</EVAL>
<EVAL ID="D1009-A.M.100.B">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="293JKZV8BA">D1009-A.M.100.B.293JKZV8BA</P>
</PEERS>
<MODELS>
<M ID="B">D1009-A.M.100.B.B</M>
</MODELS>
</EVAL>
<EVAL ID="D1045-A.M.100.H">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="0MW7JTXZ12">D1045-A.M.100.H.0MW7JTXZ12</P>
</PEERS>
<MODELS>
<M ID="H">D1045-A.M.100.H.H</M>
</MODELS>
</EVAL>
<EVAL ID="D1034-A.M.100.F">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="UWEHPTU8Z2">D1034-A.M.100.F.UWEHPTU8Z2</P>
</PEERS>
<MODELS>
<M ID="F">D1034-A.M.100.F.F</M>
</MODELS>
</EVAL>
<EVAL ID="D1026-A.M.100.E">
<PEER-ROOT>
./outputs/D2
</PEER-ROOT>
<MODEL-ROOT>
/dropbox/16-17/573/Data/models/devtest
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="23593T3HNQ">D1026-A.M.100.E.23593T3HNQ</P>
</PEERS>
<MODELS>
<M ID="E">D1026-A.M.100.E.E</M>
</MODELS>
</EVAL>
</ROUGE_EVAL>
